<section class="home-container">

  <header class="toolbar">
    <span>Olympic Games Dashboard</span>
  </header>

  <!-- Spinner pendant le chargement -->
  <ng-container *ngIf="(chartData$ | async) === undefined">
    <app-loading-spinner></app-loading-spinner>
  </ng-container>

  <app-error-message *ngIf="hasError"></app-error-message>

  <div class="chart-wrapper" *ngIf="(chartData$ | async) as data">
    <ngx-charts-pie-chart
      (select)="onSelect($event)"
      [doughnut]="isDoughnut"
      [labels]="showLabels"
      [legend]="showLegend"
      [results]="data"
      [view]="view"
      [tooltipDisabled]="false"
    >
    </ngx-charts-pie-chart>
  </div>

</section>
